USE [master]
GO
/****** Object:  Database [Doctus_BDHoras]    Script Date: 10/09/2019 7:50:02 p. m. ******/
CREATE DATABASE [Doctus_BDHoras]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Doctus_BDHoras', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\Doctus_BDHoras.mdf' , SIZE = 4288KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'Doctus_BDHoras_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\Doctus_BDHoras_log.ldf' , SIZE = 1072KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Doctus_BDHoras].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Doctus_BDHoras]
GO
/****** Object:  Table [dbo].[tbl_Actividades]    Script Date: 10/09/2019 7:50:02 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tbl_Actividades](
	[IdActividad] [int] IDENTITY(1,1) NOT NULL,
	[IdUsuario] [int] NOT NULL,
	[Descripcion] [varchar](50) NOT NULL,
 CONSTRAINT [PK_tbl_Actividades] PRIMARY KEY CLUSTERED 
(
	[IdActividad] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tbl_Tiempos]    Script Date: 10/09/2019 7:50:02 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_Tiempos](
	[IdTiempo] [int] IDENTITY(1,1) NOT NULL,
	[IdActividad] [int] NOT NULL,
	[Fecha] [datetime] NOT NULL,
	[Tiempo] [int] NOT NULL,
 CONSTRAINT [PK_tbl_Tiempos] PRIMARY KEY CLUSTERED 
(
	[IdTiempo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tbl_Usuarios]    Script Date: 10/09/2019 7:50:02 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tbl_Usuarios](
	[IdUsuario] [int] IDENTITY(1,1) NOT NULL,
	[Usuario] [varchar](50) NOT NULL,
	[Clave] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Usuarios] PRIMARY KEY CLUSTERED 
(
	[IdUsuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [dbo].[tbl_Actividades]  WITH CHECK ADD  CONSTRAINT [FK_tbl_Actividades_tbl_Usuarios] FOREIGN KEY([IdUsuario])
REFERENCES [dbo].[tbl_Usuarios] ([IdUsuario])
GO
ALTER TABLE [dbo].[tbl_Actividades] CHECK CONSTRAINT [FK_tbl_Actividades_tbl_Usuarios]
GO
ALTER TABLE [dbo].[tbl_Tiempos]  WITH CHECK ADD  CONSTRAINT [FK_tbl_Tiempos_tbl_Actividades] FOREIGN KEY([IdActividad])
REFERENCES [dbo].[tbl_Actividades] ([IdActividad])
GO
ALTER TABLE [dbo].[tbl_Tiempos] CHECK CONSTRAINT [FK_tbl_Tiempos_tbl_Actividades]
GO
USE [master]
GO
